<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <!--  <bean id="myFortuneService"
    		class="com.canddella.springdemo.HappyFortuneService">
    	</bean>-->
    <!--
 	<bean id="myCoach"
 		class="com.canddella.springdemo.TrackCoach">	 		
 	</bean>
-->
<!-- load the properties file: sport.properties -->
<bean id="account"
class="com.nestjavatraining.springaccount.Account">
<constructor-arg value="12345"/>
<constructor-arg value="krishnanunni"/>
<constructor-arg value="Savings account"/>
<constructor-arg value= "0"  />

</bean>

<bean id="atmw"
class="com.nestjavatraining.springaccount.ATMWithdrawl">
</bean>
<bean id="cashw"
class="com.nestjavatraining.springaccount.CashWithdrawl">
</bean>
<bean id="checkd"
class="com.nestjavatraining.springaccount.CheckDeposit">
</bean>
<bean id="cashd"
class="com.nestjavatraining.springaccount.CashDeposit">
</bean>


   
</beans>





